:root {
  --white: #fbfcff;
  --blue: #331cbf;
  --gray: #45475d;
  --gray200: #a9aab6;
  --gray100: #c2c4d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: var(--white);
}

ul,
li {
  list-style: none;
}
input,
button {
  outline: none;
}

button {
  cursor: pointer;
}
